body{
    font-family: Poppins;
    background-image: url('https://wallpaperaccess.com/full/687450.jpg');
    background-size: contain;
    height:100vh;
}
h1{
    color:darkslateblue;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board{
    background-color:cornflowerblue;
    padding: 30px;
    border-radius: 20px;
    height: 480px;
    width:480px;
}
.buttons{
    margin: 0 0 20px 0;
}
.buttons button{
    background-color:palegreen;
    border: none;
    border-radius: 20px;
    padding:10px 20px;
    font-weight: bold;
}

.buttons>button.active{
    background-color: salmon;
    color:white;
}
#clear:active{
    background-color: burlywood;
    color:white;
}
.square{
    box-sizing: border-box;
}

.row{
    display: flex;
    background-color: rgb(248, 190, 169);
}